In [14]:
import os
from dotenv import load_dotenv

load_dotenv()

POSTGRES_PASSWORD = os.getenv('../POSTGRES_PASSWORD')
POSTGRES_USER = os.getenv('../.env/POSTGRES_USER')
POSTGRES_HOST = os.getenv('../.env/POSTGRES_HOST')
POSTGRES_PORT = os.getenv('../.env/POSTGRES_PORT')

Python-dotenv could not parse statement starting at line 1

In [15]:
print(POSTGRES_PASSWORD)

None

In [7]:

import pandas as pd

In [8]:
def convert_sql_to_xlsx(sql_in, xlsx_out, xlsx_name=None):
    """
    Runs query in given .sql file, stores result as .xlsx file.

    Parameters:
        sql_in (str): relative filepath to .sql file
        xlsx_out (str): relative filepath to directory where .xlsx will be stored
        xlsx_name (str or None): If not None, file named xlsx_name.xlsx
                                 If None, file named same as sql_in

    Returns:
        None
    """
    return pd.read_sql(sql_in,con=).to_excel(f'{xlsx_out}/{xlsx_name}')

In [9]:
convert_sql_to_xlsx("../data/AdventureWorks.tar", "../data/", "testing")

TypeError: read_sql() missing 1 required positional argument: 'con'

In [23]:
import psycopg2
from psycopg2 import OperationalError

def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

In [2]:
create_connection("adventureworks","postgres",'galvanize','localhost',5555)

Connection to PostgreSQL DB successful

In [22]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [17]:
conn = create_connection('../data/adventureworks.db')

Connection to SQLite DB successful

In [15]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM humanresources")

    rows = cur.fetchall()

    for row in rows:
        print(row)

In [16]:
select_all_tasks(conn)

OperationalError: no such table: humanresources

In [18]:
def convert_sql_to_xlsx(sql_in, xlsx_out, xlsx_name=None):
    # Set the xlsx_name if not provided
    if xlsx_name is None:
        xlsx_name = sql_in.split(".")[0]

    # Connect to a SQLite database
    conn = sqlite3.connect(":memory:")

    # Read the SQL file and execute the query
    with open(sql_in, "r") as sql_file:
        query = sql_file.read()
    df = pd.read_sql_query(query, conn)

    # Close the database connection
    conn.close()

    # Save the DataFrame as an Excel file
    xlsx_path = f"{xlsx_out}/{xlsx_name}.xlsx"
    df.to_excel(xlsx_path, index=False)

    # Print a success message
    print(f"Query results saved as {xlsx_path}")

In [ ]:
convert_sql_to_xlsx('../sql_queries/testing.sql')

In [7]:
import pandas as pd
import psycopg2
from dotenv import load_dotenv
import os

load_dotenv()

def convert_sql_to_xlsx(sql_in, xlsx_out, xlsx_name=None):
    """
    Runs query in given .sql file, stores result as .xlsx file.

    Parameters:
        sql_in (str): relative filepath to .sql file
        xlsx_out (str): relative filepath to directory where .xlsx will be stored
        xlsx_name (str or None): If not None, file named xlsx_name.xlsx
                                 If None, file named same as sql_in

    Returns:
        None
    """
    # Set the xlsx_name if not provided
    if xlsx_name is None:
        xlsx_name = sql_in.split(".")[0]

    # Load the PostgreSQL configuration from config.py
    POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
    POSTGRES_USER = os.getenv('POSTGRES_USER')
    POSTGRES_HOST = os.getenv('POSTGRES_HOST')
    POSTGRES_PORT = os.getenv('POSTGRES_PORT')

    # Connect to the PostgreSQL database
    conn = psycopg2.connect(
        host=POSTGRES_HOST,
        port=POSTGRES_PORT,
        user=POSTGRES_USER,
        password=POSTGRES_PASSWORD
    )

    # Read the SQL file and execute the query
    with open(sql_in, "r") as sql_file:
        query = sql_file.read()
    df = pd.read_sql_query(query, conn)

    # Close the database connection
    conn.close()

    # Save the DataFrame as an Excel file
    xlsx_path = f"{xlsx_out}/{xlsx_name}.xlsx"
    df.to_excel(xlsx_path, index=False)

    # Print a success message
    print(f"Query results saved as {xlsx_path}")

In [5]:
# in your notebook cell
import sys

# path relative to your notebook
sys.path.insert(0, '../src')

# import as usual
# autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [3]:
import os
from dotenv import load_dotenv

load_dotenv()

POSTGRES_PASSWORD = os.getenv('POSTGRES_PASSWORD')
POSTGRES_USER = os.getenv('POSTGRES_USER')
POSTGRES_HOST = os.getenv('POSTGRES_HOST')
POSTGRES_PORT = os.getenv('POSTGRES_PORT')
POSTGRES_DATABASE = os.getenv('POSTGRES_DATABASE')

In [4]:
print(POSTGRES_DATABASE)

adventureworks

In [20]:
query = '''SELECT *
            FROM person.person
            LIMIT 10;'''

In [21]:
import psycopg2
from psycopg2 import OperationalError

def create_connection():
    connection = None
    try:
        connection = psycopg2.connect(
            database=POSTGRES_DATABASE,
            user=POSTGRES_USER,
            password=POSTGRES_PASSWORD,
            host=POSTGRES_HOST,
            port=POSTGRES_PORT,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

In [22]:
conn = create_connection()

Connection to PostgreSQL DB successful

In [23]:
cur = conn.cursor(query)

In [24]:
for row in cur:
    print(row)

InvalidCursorName: cursor "SELECT *
            FROM person.person
            LIMIT 10;" does not exist

In [25]:
query_df = pd.read_sql(query, conn)

/var/folders/qw/b5rk3_jd0f71s0ysbqxl07sc0000gn/T/ipykernel_65948/1931002826.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query_df = pd.read_sql(query, conn)

DatabaseError: Execution failed on sql 'SELECT *
            FROM person.person
            LIMIT 10;': current transaction is aborted, commands ignored until end of transaction block

In [13]:
query_df.to_excel("../excel_reports/btm_demo.xlsx")

In [15]:
import sqlalchemy

In [16]:
engine = sqlalchemy.create_engine(f'postgresql+psycopg2://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DATABASE}')

In [17]:
connection = engine

In [19]:
query_df2 = pd.read_sql(query, connection)

display(query_df2)

,businessentityid,persontype,namestyle,title,firstname,middlename,lastname,suffix,emailpromotion,additionalcontactinfo,demographics,rowguid,modifieddate
0,1,EM,False,None,Ken,J,Sánchez,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",92c4279f-1207-48a3-8448-4636514eb7e2,2009-01-07
1,2,EM,False,None,Terri,Lee,Duffy,None,1,None,"<IndividualSurvey xmlns=""http://schemas.micros...",d8763459-8aa8-47cc-aff7-c9079af79033,2008-01-24
2,3,EM,False,None,Roberto,None,Tamburello,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",e1a2555e-0828-434b-a33b-6f38136a37de,2007-11-04
3,4,EM,False,None,Rob,None,Walters,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",f2d7ce06-38b3-4357-805b-f4b6b71c01ff,2007-11-28
4,5,EM,False,Ms.,Gail,A,Erickson,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",f3a3f6b4-ae3b-430c-a754-9f2231ba6fef,2007-12-30
5,6,EM,False,Mr.,Jossef,H,Goldberg,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",0dea28fd-effe-482a-afd3-b7e8f199d56f,2013-12-16
6,7,EM,False,None,Dylan,A,Miller,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",c45e8ab8-01be-4b76-b215-820c8368181a,2009-02-01
7,8,EM,False,None,Diane,L,Margheim,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",a948e590-4a56-45a9-bc9a-160a1cc9d990,2008-12-22
8,9,EM,False,None,Gigi,N,Matthew,None,0,None,"<IndividualSurvey xmlns=""http://schemas.micros...",5fc28c0e-6d36-4252-9846-05caa0b1f6c5,2009-01-09
9,10,EM,False,None,Michael,None,Raheem,None,2,None,"<IndividualSurvey xmlns=""http://schemas.micros...",ca2c740e-75b2-420c-9d4b-e3cbc6609604,2009-04-26

In [28]:
import btm

In [29]:
btm.convert_sql_to_xlsx('../sql_queries/hr_q1.sql','../excel_reports')

Connection to PostgreSQL DB successful

/Users/benmacdonald/new_dir1/daimil10/case_studies/adventureworks/notebooks/../src/btm.py:55: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)